<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tasks</h1>
<table border="1px">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            PublishedDate
        </th>
        <th>
            FileName
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${book.getName()}"></td>
        <td th:text="${book.getPublishedDate()}"></td>
        <td>
            <img th:src="$book.fileName}">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>